@import url("~leaflet/dist/leaflet.css");

body,
#root,


.leaflet-container {
    height: 100vw;
    width: 100vw;
    overflow: hidden;
}

.element-on-map {
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 40px;
}
